* {
    margin: 0;
}

html, body {
    height: 100%;
    font-family: Garamond, serif;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -25px;
}

#footer, #push {
    height: 25px;
}

#footer {
    padding-left: 40px;
}

#comment {
    padding: 40px;
    font-size: 5em;
    font-family: Georgia, serif;
    font-style: italic;
}

#whence {
    padding-left: 60px;
}