!!!

%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}

  %head
    %title
      DcyderWisdom - Latest nugget of wisdom from Dcyder.com

    %meta{name: 'description', content: 'Quotes from dcyder.com dilemmas. Helpful advice from members of the public.'}
    %link{rel: "stylesheet", href: "/stylesheet.css", type: "text/css"}

    = erb :analytics

  %body
    #wrapper

      #comment
        %span{style: "font-size: #{font_size_for(comment)}%"}
          &ldquo;#{comment.title}&rdquo;

      #whence
        &mdash;
        in response to
        %a{href: comment.url} this
        dilemma.

      #push

    #footer
      %span
        &copy;
        = Time.now.year
        %a{href: 'http://www.dcyder.com'} Dcyder.com

      %span
        %a{href: 'https://github.com/moowahaha/dcyderwisdom'} Project page

      %span
        %a{href: 'http://www.dcyder.com/rss/comments'}
          %img{src: '/rss.png'}
        %a{href: 'http://www.dcyder.com/rss/comments', rel: 'canonical'}
          Comments
