!!!

%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}

  %head
    %title
      Dcyder Wisdom - Latest Nugget of Wisdom from Dcyder.com

    %link{rel: "stylesheet", href: "/stylesheet.css", type: "text/css"}

  %body
    = comment.title
